:root {
  --bg: #D9CFC7;
  --card: #C9B59C;
  --primary: #AAB99A;
  --dark: #727D73;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--bg);
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark);
  padding: 15px 30px;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  color: var(--primary);
}

/* BUTTON */
.btn {
  background-color: var(--primary);
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: var(--dark);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background-color: var(--dark);
  color: white;
}
